* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/***************Utility classes***************/
.d-flex {
  display: flex;
}
.mx_5{
  margin: 0 5px;
}
.strong{
  font-weight: bolder;
}
.mb_20{
  margin-bottom: 20px;
}

body{
  background-color: black;
  height: 100vh;
  display: flex;
}

.container{
  flex-direction: column;
  width: 50%;
  background-color: rgb(185, 20, 80);
  margin: auto;
}
.top{
  justify-content: space-around;
}
#form_biglietto, h3{
  text-align: center;
}

#form_biglietto h3{
  margin-bottom: 10px;
}
#form_biglietto .sfondo_bianco{
  border-radius: 10px;
}

h3{
  color: white;
  margin-top: 10px;
  font-weight: normal;
}

.sfondo_bianco{
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 10px;
}
input, select{
  border: 1px solid rgb(185, 20, 80);
  border-radius: 5px;
}

.col{
  display: flex;
  flex-direction: column;
}

button, label{
  color: rgb(185, 20, 80);
}
label{
  font-size: 12px;
  margin: 10px 0;
}
button{
  padding: 2px;
  margin: 0 3px;
  margin-top: 20px;
  font-weight: 500;
  border:1px solid grey;
  border-radius: 2px;
}
button:hover{
  background-color: darkgrey;
  border:1px solid rgb(185, 20, 80);
}

#biglietto{
  opacity: 0;
  font-size: 14px;
}
#biglietto .sfondo_bianco{
  margin-bottom: 30px;
}
#biglietto .row div{
  padding: 10px 0;
}

.bc_grey{
  background-color: grey;
  margin-left: 0;
  padding-left: 10px!important;
}
.bc_grey .strong{
  padding-bottom: 0!important;
}
#nome_passeggero{
  padding-top: 0!important;
}


.dettaglio_passeggeri{
  border: 1px solid grey;
  border-right: 1px solid white;
}
